.bg-primary {
    background-color: #002060 !important;
    color: #fff !important;
}
.bg-info {
    background-color: #002060 !important;
    color: #fff !important;
}
.bg-success {
    background-color: #92D050 !important;
    color: #fff !important;
}
.bg-warning {
    background-color: #FF8805 !important;
    color: #fff !important;
}