.bg-primary {
    background-color: #002060 !important;
    color: #fff !important;
}
.bg-info {
    background-color: #002060 !important;
    color: #fff !important;
}
.bg-success {
    background-color: #92D050 !important;
    color: #fff !important;
}
.bg-warning {
    background-color: #FF8805 !important;
    color: #fff !important;
}
.bg-grey {
    background-color: #DBDBDB !important;
}

.text-green {
    color: #92D050 !important;
}
.text-primary {
    color: #002060 !important;
}
.text-warning {
    color: #FF8805 !important;
}
.text-grey {
    color: #DBDBDB !important;
}
.no-word-cut {
    word-break: normal !important;
    overflow-wrap: normal !important;
    white-space: normal !important;
}